.blog-heading {
    color: $dark-gray;
    font: 18px/24px Raleway-bold;
    font-weight: 700;
    text-transform: uppercase;
}

.info-posted {
    color: #757575;
    font: 13px/24px Proxima Nova;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 0 35px;
}
