.wrap-footer {
    width: 100%;
    background-color: #2a2b2c;
    @media only screen and (max-width: 479px) and (min-width: 320px){
        padding-left: 35px;
    }
}

.logo-footer {
    margin: 124px 0 20px;
}

.copyright {
    color: #8e8e8e;
    font: 13px/24px OpenSans;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;

}

.btn-footer {
    padding: 0;
    background-color: #2a2b2c;
    border: 0;
    margin-right: 5px;
}

.heading-nav {
    margin: 85px 0 20px;
    color: $white;
    font: 18px/24px Raleway;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 15px;
}

.fa-caret-right {
    color: $orange;
    padding-right: 20px;
}


.navigations li a {
    color: #7b7b7c;
    font: 13px/40px OpenSans;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: 1px;
    &:hover {
        color: $white;
    }
}

.navigations {
    padding: 0 80px 0 0;
    list-style-type: none;
}

.navigations li::before {
    color: $orange;
    content: "";
    padding-right: 15px;
}

.lines-nav {
    border-bottom: 1px solid #373839;
    &:hover {
        border: 0;
    }
    &-active {
        border-bottom: 1px solid $white;
        &:hover {
            border-bottom: 1px solid $white;
        }
    }
    .active-footer {
        color: $white;
    }
}


.head-form {
    color: $white;
    font: 18px/24px Raleway;
    font-weight: 700;
    text-transform: uppercase;
    margin: 85px 0 35px;
}

.form-control {
  color: #737476;
  font-family: OpenSans;
}

.input-footer{
    background-color: transparent;
    border: 1px solid #373839;
    border-radius: 0;
    padding: 12px 0 12px 20px;
    &:focus {
        background-color: transparent;
        border: 1px solid #373839;
    }
}

.f-footer ul {
  padding: 0;
}

.textarea {
    resize: none;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #373839;
    padding: 15px 0 0 20px;
    &:focus {
        background-color: transparent;
        border: 1px solid #373839;
    }
}

.contact-us {
    padding-left: 35px;
}

