.home-banner-background{
  background: #000000;
  overflow: hidden;
  max-height: 835px;
  display: block;

}

.home-banner-img {
  width: 100%;
  display: block;
  opacity: 0.4;
  min-height: 400px;

}

.home-carousel-indicators .carousel-indicators .active {
  background-color: #ffaf36;
  border-color: #ffaf36;
  margin: 1px;
}

.home-carousel-indicators .carousel-indicators li {
  background-color: #8f8f8f;
  border-color: #8f8f8f;
  width: 25px;
  height: 4px;
  border-radius: 0;
}

.home-carousel-indicators .carousel-indicators {
  position: absolute;
  top: -60px;
  z-index: 15;
  width: 100%;
  list-style: none;
  margin: 0;
}

.sup-heading-site {
  color: white;
  font: 600 16px/24px Raleway;
  text-transform: uppercase;
}

.heading-site {
  color: white;
  font: 700 60px/24px Raleway-extrabold;
  text-transform: uppercase;
  padding: 15px 0 20px;
}

.info-site {
  color: white;
  font: 15px/30px Lora-italic;
  line-height: 30px;
  width: 515px;
  margin-bottom: 60px;
}

.wrap-heading-site {
  margin-bottom: 100px;
}

.about-us-section {
  margin-top: 100px;
  padding-bottom: 100px;
}

.text-home {
  color: #585858;
  font: 400 14px/28px OpenSans;
}

.section-services {
  width: 100%;
  background-color: #eaeff3;
}

.wrap-heading-services {
  margin: 100px 0 0;
}

.wrap-services{
  display: flex;
  flex-wrap: wrap;
}

.services{
  padding-left: 100px;
  width: 550px;
  margin-top: 60px;
  position: relative;
  &:hover {
    color: #36a8ff;
  }
  &:before {
    font-family: 'simple-line-icons';
    position: absolute;
    left: 0;
    top: -10px;
    font-size: 40px;
  }
  &-first:before {
    content: "\e05c";
  }
  &-second:before {
    content: "\e005";
  }
  &-third:before {
    content: "\e090";
  }
  &-fourth:before {
    content: "\e081";
  }

  &:hover:after {
    position: absolute;
    top: -16px;
    font-family: FontAwesome;
    content: "\f068";
    color: #36a8ff;
  }
}

.heading-services {
  color: #1c1c1c;
  font: 700 16px/24px Raleway-bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.info-services {
  color: #585858;
  font: 400 14px/28px OpenSans;

}

.margin-btn-view {
  margin: 75px 0 100px;
}

.wrap-heading-clients {
  margin: 100px 0 20px;
}

.clients {
  width: 320px;
  margin-bottom: 60px;
  position: relative;
  &:before {
    content: "\275D";
    position: absolute;
    font-size: 200px;
    top: -122px;
    left: -10px;
  }
  &-first:before {
    color: #1c1c1c;
    opacity: 0.1;
  }
  &-second:before {
    color: #36a8ff;
    opacity: 0.15;
  }
  &-third:before {
    color: #ffaf36;
    opacity: 0.3;
  }
}


.wrap-clients-home li {
  list-style-type: none;
}

.wrap-clients-home ul li {
  display: inline-block;
}

.wrap-clients-home {
  padding-top: 50px;
}

.wrap-list-clients {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.clients-info {
  color: #585858;
  font: 400 14px/28px OpenSans;
  margin-bottom: 50px;
}

.name-clients {
  color: #1c1c1c;
  font: 700 14px Raleway-extrabold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-name-clients {
  color: #585858;
  font: 400 14px/28px OpenSans;
}

.padding-name-clients {
  padding: 15px 0 0 30px;
}

.clients-carousel .carousel-indicators {
  left: 25px;
  top: -100px;
}

.section-news {
  width: 100%;
  background-color: #eaeff3;
  padding-bottom: 100px;
}

.wrap-heading-news {
  margin: 100px 0 50px;
}

.date {
  color: #1c1c1c;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.month-year {
  color: #565656;
  font: 400 14px/18px OpenSans;
}

.info-icon {
  color: #565656;
  font: 400 14px/18px OpenSans;
  &:before {
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 35px;
    font-family: 'simple-line-icons';
  }

  &-first:before {
    content: "\e04a";
}
  &-second:before {
    content: "\e087";
}
}

.news-icon {
  padding-bottom: 15px;
  padding-top: 45px;
}

.img-news {
  padding: 5px 0 40px 0;
}

.lines-icon:nth-child(n+2) {
  border-top: 1px solid #ffaf36;
}

.wrap-new-blog {
  width: 390px;
}

.blog-heading-news {
  color: #1c1c1c;
  font: 700 16px/24px Raleway-bold;
  text-transform: uppercase;

}

.blog-info-heading-news {
  color: #585858;
  font: 400 14px/28px OpenSans;
  line-height: 28px;
  margin-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.date-news-blog {
  color: #ffaf36;
  font: 700 12px/18px OpenSans;
  text-transform: uppercase;
  padding: 5px 0 5px;
}

.border-news-blog{
  border-bottom: 1px solid #d8dcdf;
}