.heading {
    color: #1c1c1c;
    font: 800 30px/24px Raleway-extraBold;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    }

.info-heading {
    color: #1c1c1c;
    font: 16px Lora-italic;
}
