mixin header(pageName)
    header.wrap-header
        .container.pr-0.pl-0
            .row
                .col-xs-12.pr-0.pl-0
                    nav.navbar.navbar-light
                        a(href="#" class="navbar-brand")
                            img(src="../../../img/home/header/logo.png" alt="logo" class="logo-header")
                        span.navbar-text.phone
                            i(class="fa fa-phone" aria-hidden="true")
                            a(href="callto:+9978 8856 999") +9978 8856 999
                        ul.nav.navbar-nav
                            if pageName == 'home'
                                li.nav-item.active
                                    a.nav-link(href="home.html" ) Home
                            else
                                li.nav-item
                                    a.nav-link(href="home.html" ) Home
                            if pageName == 'about-us'
                                li.nav-item.active
                                    a.nav-link(href="about-us.html") About us
                            else
                                li.nav-item
                                    a.nav-link(href="about-us.html") About us
                            if pageName == 'services'
                                li.nav-item.active
                                    a.nav-link(href="services.html") Services
                            else
                                li.nav-item
                                    a.nav-link(href="services.html") Services
                            if pageName == 'news'
                                li.nav-item.active
                                    a.nav-link(href="news.html") News
                            else
                                li.nav-item
                                    a.nav-link(href="news.html") News
                            if pageName == 'blog'
                                li.nav-item.active
                                    a.nav-link(href="blog.html") Blog
                            else
                                li.nav-item
                                    a.nav-link(href="blog.html") Blog
                            if pageName == 'pages'
                                li.nav-item.active
                                    a.nav-link(href="#") Pages
                                    ul.nav-submenu
                                        li.nav-submenu-item
                                            a(href="faq.html") Faq
                                        li.nav-submenu-item
                                            a(href="careers.html") Careers
                                        li.nav-submenu-item
                                            a(href="testimonials.html") Testimonials
                            else
                                li.nav-item
                                    a.nav-link(href="#") Pages
                                    ul.nav-submenu
                                        li.nav-submenu-item
                                            a(href="faq.html") Faq
                                        li.nav-submenu-item
                                            a(href="careers.html") Careers
                                        li.nav-submenu-item
                                            a(href="testimonials.html") Testimonials
                            if pageName == 'contact-us'
                                li.nav-item.active
                                    a.nav-link(href="contact-us.html") Contact us
                            else
                                li.nav-item
                                    a.nav-link(href="contact-us.html") Contact us
