extends template
block title
    title About-us
block header
    mixin header('about-us')
block banner-bg
    .banner-background
        img(src="../../../img/about-us/about-banner.jpg" alt="banner" class="banner-img" width="1970px" height="400px")
block content
    .container.margin-blog
        .row
            .col-xs-12.pl-0
                h2.heading About us
                .info-heading Our Short Story
    .container
        .row
            .col-xs-12.pl-0
                .text-about-us Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .row
            .col-xs-12.pl-0
                .background-img-about-us
                    img(src="../../../img/about-us/content/img-blog.jpg" alt="img-content" class="img-blog-about-us")
                    .wrap-btn-about-us
                        button(type="button" class="btn btn-orange") Lets Talk
                        button(type="button" class="btn btn-orange btn-client") Clients
    section.section-our-views
        .container
            .row
                .col-xs-12.pl-0.margin-blog
                    h2.heading Our views
                    .info-heading Our Concepts
        .container.pl-0.padding-our-views
            .row.margin-our-mission
                .col-xs-3.pl-0
                    .background-our-views
                        img(src="../../../img/about-us/content/our-views/our-mission.jpg" alt="our-mission" width="260" height="175" class="img-our-views")
                .col-xs-9
                    .heading-our-views Our Mission
                    .info-our-views Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the.
            .row
                .col-xs-9.padding-our-vision
                    .heading-our-views.text-xs-right Our Vision
                    .info-our-views.text-xs-right Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the.
                .col-xs-3.pr-0
                    .background-our-views
                        img(src="../../../img/about-us/content/our-views/our-vision.jpg" alt="our-mission" width="260" height="175" class="img-our-views")
    section
        .container.pyramids.pyramids-left
            .row
                .col-xs-12.pl-0.margin-blog
                    h2.heading Clients
                    .info-heading Our Great Clients<
        div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
            div(class="carousel-inner" role="listbox")
                .carousel-item.active
                    .container.wrap-clients
                        .row
                            .col-xs-12.wrap-img-clients.flex-items-xs-between.pl-0.pr-0
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center mr-0")
                                    img(src="../../../img/about-us/content/clients/beer.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/prestiges.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/deer-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/genuine.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-design.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center mr-0")
                                    img(src="../../../img/about-us/content/clients/beer-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer-brand-two.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/original-design.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-brand-two.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/hosorend.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer-brand-three.png" alt="brand-clients")
                .carousel-item
                    .container.wrap-clients
                        .row
                            .col-xs-12.wrap-img-clients.flex-items-xs-between.pl-0.pr-0
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center mr-0")
                                    img(src="../../../img/about-us/content/clients/beer-brand-three.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/hosorend.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-brand-two.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/original-design.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer-brand-two.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center mr-0")
                                    img(src="../../../img/about-us/content/clients/retro-design.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/genuine.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/deer-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/prestiges.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer.png" alt="brand-clients")
                .carousel-item
                    .container.wrap-clients
                        .row
                            .col-xs-12.wrap-img-clients.flex-items-xs-between.pl-0.pr-0
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center mr-0")
                                    img(src="../../../img/about-us/content/clients/beer.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/prestiges.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/deer-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/genuine.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-design.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center mr-0")
                                    img(src="../../../img/about-us/content/clients/beer-brand.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer-brand-two.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/original-design.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/retro-brand-two.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/hosorend.png" alt="brand-clients")
                                a(href="#" class="img-clients  flex-items-xs-middle flex-items-xs-center")
                                    img(src="../../../img/about-us/content/clients/beer-brand-three.png" alt="brand-clients")
            .container
                .row
                    .col-xs-12
                        ol.carousel-indicators
                            li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
                            li(data-target="#carousel-example-generic" data-slide-to="1")
                            li(data-target="#carousel-example-generic" data-slide-to="2")
    mixin footer('about-us')
    include ../includes/js-includes



