extends template
block title
    title Careers
block header
    mixin header('pages')
block banner-bg
    .banner-background
        img(src="../../../img/careers/careers-banner.jpg" alt="banner" class="banner-img" width="1970px" height="400px")
block content
    section
        .container.wrap-blog-careers
            .row
                .col-xs-3.pl-0
                    .background-img-careers
                        img(src="../../../img/careers/section-careers/img-blog-careers.jpeg" class="img-blog-careers" width="165" height="155" alt="img-blog")
                    .img-border
                        img(src="../../../img/careers/section-careers/img-border.png"  width="165" height="155" alt="img-blog")
                .col-xs-9.wrap-heading-careers
                    .row
                        .col-xs-12
                            h2.heading Careers
                            .info-heading Our Opaning positions
                    .row
                        .col-xs-12
                            .text-careers Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
    section.section-our-offers
        .container.pyramids.pyramids-right
            .row
                .col-xs-12.wrap-heading-our-offers.pl-0
                    h2.heading Our offers
                    .info-heading We offering awesome facts
        .container
            .row
                .col-xs-12.wrap-offers.flex-items-xs-between.pl-0
                    .offers.offers-first
                        .heading-offers Fun environment
                        .info-offers Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    .offers.offers-second
                        .heading-offers compensation
                        .info-offers Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    .offers.offers-third
                        .heading-offers all you need
                        .info-offers Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
                    .offers.offers-fourth
                        .heading-offers pleasure trips
                        .info-offers Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry'
    section
        .container.margin-blog-position
            .row
                .col-xs-12.pl-0
                    h2.heading Open positions
                    .info-heading Some of our featured vacancy
        .container.wrap-position
            .row
                .col-xs-12.pl-0.wrap-heading-position.flex-items-xs-between.pr-0
                    .heading-position customer relationship manager
                    button(class="icon-arrow-right-circle collapsed" type="button" data-toggle="collapse" data-target="#collapse-position-first" aria-expanded="false" aria-controls="collapse-position-first")
            .collapse#collapse-position-first
                .row.padding-positions
                    .col-xs-2.pl-0
                        .row.padding-item-row
                            .col-xs-12.item Mission
                        .row
                            .col-xs-12.item Require
                    .col-xs-4.pl-0
                        .row
                            .col-xs-12.pl-0
                                .info-item Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .row
                            .col-xs-12.pl-0.info-check-list
                                ul
                                    li Lorem ipsum dolor sit amet, consectetur.
                                    li Praesent in urna at neque varius.
                                    li Mauris lobortis orci non viverra semper.
                                    li Phasellus tristique sem vitae lorem.
                    .col-xs-2
                        .row
                            .col-xs-12.item.padding-item Location
                        .row
                            .col-xs-12.item.padding-item type
                        .row
                            .col-xs-12.item other
                    .col-xs-4
                        .row
                            .col-xs-12.info-item Washington DC
                        .row
                            .col-xs-12.info-item Full-Time Position
                        .row
                            .col-xs-12.info-item
                                .info-others Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.
                .row
                    .col-xs-12.text-xs-right.pr-0
                        button(type="button" class="btn btn-aply") apply now
        .container.wrap-position
            .row
                .col-xs-12.pl-0.wrap-heading-position.flex-items-xs-between.pr-0
                    .heading-position HR manager
                    button(class="icon-arrow-right-circle collapsed" type="button" data-toggle="collapse" data-target="#collapse-position-second" aria-expanded="false" aria-controls="collapse-position-second")
            .collapse#collapse-position-second
                .row.padding-positions
                    .col-xs-2.pl-0
                        .row.padding-item-row
                            .col-xs-12.item Mission
                        .row
                            .col-xs-12.item Require
                    .col-xs-4.pl-0
                        .row
                            .col-xs-12.pl-0
                                .info-item Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .row
                            .col-xs-12.pl-0.info-check-list
                                ul
                                    li Lorem ipsum dolor sit amet, consectetur.
                                    li Praesent in urna at neque varius.
                                    li Mauris lobortis orci non viverra semper.
                                    li Phasellus tristique sem vitae lorem.
                    .col-xs-2
                        .row
                            .col-xs-12.item.padding-item Location
                        .row
                            .col-xs-12.item.padding-item type
                        .row
                            .col-xs-12.item other
                    .col-xs-4
                        .row
                            .col-xs-12.info-item Washington DC
                        .row
                            .col-xs-12.info-item Full-Time Position
                        .row
                            .col-xs-12.info-item
                                .info-others Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.
                .row
                    .col-xs-12.text-xs-right.pr-0
                        button(type="button" class="btn btn-aply") apply now
        .container.wrap-position
            .row
                .col-xs-12.pl-0.wrap-heading-position.flex-items-xs-between.pr-0
                    .heading-position Customer Success Manager
                    button(class="icon-arrow-right-circle collapsed" type="button" data-toggle="collapse" data-target="#collapse-position-third" aria-expanded="false" aria-controls="collapse-position-third")
            .collapse#collapse-position-third
                .row.padding-positions
                    .col-xs-2.pl-0
                        .row.padding-item-row
                            .col-xs-12.item Mission
                        .row
                            .col-xs-12.item Require
                    .col-xs-4.pl-0
                        .row
                            .col-xs-12.pl-0
                                .info-item Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .row
                            .col-xs-12.pl-0.info-check-list
                                ul
                                    li Lorem ipsum dolor sit amet, consectetur.
                                    li Praesent in urna at neque varius.
                                    li Mauris lobortis orci non viverra semper.
                                    li Phasellus tristique sem vitae lorem.
                    .col-xs-2
                        .row
                            .col-xs-12.item.padding-item Location
                        .row
                            .col-xs-12.item.padding-item type
                        .row
                            .col-xs-12.item other
                    .col-xs-4
                        .row
                            .col-xs-12.info-item Washington DC
                        .row
                            .col-xs-12.info-item Full-Time Position
                        .row
                            .col-xs-12.info-item
                                .info-others Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.
                .row
                    .col-xs-12.text-xs-right.pr-0
                        button(type="button" class="btn btn-aply") apply now
        .container.wrap-position
            .row
                .col-xs-12.pl-0.wrap-heading-position.flex-items-xs-between.pr-0
                    .heading-position Infrastructure Developer
                    button(class="icon-arrow-right-circle collapsed" type="button" data-toggle="collapse" data-target="#collapse-position-fourth" aria-expanded="false" aria-controls="collapse-position-fourth")
            .collapse#collapse-position-fourth
                .row.padding-positions
                    .col-xs-2.pl-0
                        .row.padding-item-row
                            .col-xs-12.item Mission
                        .row
                            .col-xs-12.item Require
                    .col-xs-4.pl-0
                        .row
                            .col-xs-12.pl-0
                                .info-item Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .row
                            .col-xs-12.pl-0.info-check-list
                                ul
                                    li Lorem ipsum dolor sit amet, consectetur.
                                    li Praesent in urna at neque varius.
                                    li Mauris lobortis orci non viverra semper.
                                    li Phasellus tristique sem vitae lorem.
                    .col-xs-2
                        .row
                            .col-xs-12.item.padding-item Location
                        .row
                            .col-xs-12.item.padding-item type
                        .row
                            .col-xs-12.item other
                    .col-xs-4
                        .row
                            .col-xs-12.info-item Washington DC
                        .row
                            .col-xs-12.info-item Full-Time Position
                        .row
                            .col-xs-12.info-item
                                .info-others Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.
                .row
                    .col-xs-12.text-xs-right.pr-0
                        button(type="button" class="btn btn-aply") apply now
    mixin footer('')
    include ../includes/js-includes

