extends template
block title
    title Faq
block header
    mixin header('pages')
block banner-bg
    .banner-background
        img(src="../../../img/pages/faq-banner.jpg" alt="banner" class="banner-img" height="600px" width="1970px")
block content
    .container.margin-blog
        .row
            .col-xs-12.pl-0
                h2.heading Faq’s
                .info-heading frequently asked questions
    .container
        .row.wrap-list
            ul.column.list-unstyled
                li.faq-list
                    h2.head-list Fun environment ?
                    span.text-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                li.faq-list
                    h2.head-list Proin porta elit at orci rhoncus tincidunt ?
                    span.text-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                li.faq-list
                    h2.head-list Phasellus molestie nulla et nulla ?
                    span.text-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                li.faq-list
                    h2.head-list Phasellus molestie nulla et nulla ?
                    span.text-list It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                li.faq-list
                    h2.head-list Nullam scelerisque orci ?
                    span.text-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                li.faq-list
                    h2.head-list orci rhoncus tincidunt ?
                    span.text-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                li.faq-list
                    h2.head-list molestie nulla et nulla ?
                    span.text-list Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                li.faq-list
                    h2.head-list Curabitur consequat ante ?
                    span.text-list There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
    section.search
        .container
            .row.center-text
                .col-xs-12
                    h2.heading Search questions
                    .info-heading if you have any more question search here OR feel free to contact us
        .container.form-search
            .col-xs-8.center-input.text-xs-center
                form(role="search")
                    .input-group
                        input(type="text" class="form-control input-text" placeholder="Enter your questions here" aria-describedby="basic-addon")
                        span.input-group-addon#basic-addon
                            i(class="fa fa-search" aria-hidden="true")
                    button(type="submit" class="btn btn-submit  margin-btn-contact") Contact Us
    mixin footer('')




