extends template
block title
    title News
block banner-bg
    .banner-background
        img(src="../../../img/news/banner.jpeg" alt="banner" class="banner-img" width="1970px" height="1150px")
block content
    .container.margin-news
        .row
            .col-xs-12.pl-0
                h2.heading News
                .info-heading Featured News
    section
        .container.wrap-news.wrap-news-first.pl-0
            .row
                .col-xs-4.offset-xs-2
                    img(src="../../../img/news/content/news-img.png" alt="news-img" width="360" height="250")
                .col-xs-6.wrap-info-news
                    .heading-news News heading Here
                    .info-news There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    .pl-0.info-check-list.pt-2
                        ul
                            li Nam nec urna facilisis, viverra arcu id, aliquam nulla.
                            li Donec ac risus molestie, porta elit vel, hendrerit orci.
                            li Aenean in sapien sed mauris tincidunt posuere.
    section.section-light-blue
        .container.wrap-news.wrap-news-second.pl-0
            .row
                .col-xs-10.offset-xs-2.wrap-info-news
                    .heading-news News heading Here
                    .info-news.pr-1 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing. There are many variations of passages of Lorem.
    section.padding-news
        .container.wrap-news.wrap-news-third.pl-0
            .row
                .col-xs-4.offset-xs-2
                    img(src="../../../img/news/content/news-img-first.png" alt="news-img" width="360" height="250")
                    .row
                        .col-xs-12.padding-img
                            .wrap-img-news.flex-items-xs-between
                                img(src="../../../img/news/content/news-img-second.png" alt="news-img" width="160" height="100")
                                img(src="../../../img/news/content/news-img-third.png" alt="news-img" width="160" height="100")
                .col-xs-6.wrap-info-news
                    .heading-news News heading Here
                    .info-news Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem.
                    blockquote.blockquote-news
                        p.text-blockquote-news Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages
    section.section-light-blue-second
        .container.wrap-news.wrap-news-fourth.pl-0
            .row
                .col-xs-4.offset-xs-2
                    img(src="../../../img/news/content/news-img-fourth.png" alt="news-img" width="360" height="250")
                .col-xs-6.wrap-info-news
                    .heading-news News heading Here
                    .info-news.pr-1 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

