extends template
block title
    title services
block header
    mixin header('services')
block banner-bg
    .banner-background
        img(src="../../../img/services/banner.jpg" alt="banner" class="banner-img" width="1970px" height="500px")
block content
    .container.margin-service-more
        .row
            .col-xs-12.pl-0
                h2.heading Service
                .info-heading Our Products
    section.section-boosting-business
        .container.pr-0
            .row
                .services-more-left.services-more-left-first
                    .col-xs-9.offset-xs-3
                        .heading-services-more Boosting your business
                        .info-services-more Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
                        button(type="button" class="btn btn-orange ") Contact Us
    section.section-support
        .container.wrap-support.pr-0.pyramids.pyramids-right
            .row
                .services-more-right.services-more-right-first
                    .col-xs-9.text-xs-right
                        .heading-services-more Online support
                        .info-services-more Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
                        button(type="button" class="btn btn-orange ") Contact Us
    section
        .section-analyzing
            .container.pr-0
                .row
                    .services-more-left.services-more-left-second
                        .col-xs-9.offset-xs-3
                            .heading-services-more analyzing business strategy
                            .info-services-more Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
                            button(type="button" class="btn btn-orange ") Contact Us
    section.section-time-managment
        .container.wrap-managment.pr-0
            .row
                .services-more-right.services-more-right-second
                    .col-xs-9.text-xs-right
                        .heading-services-more Time managment
                        .info-services-more Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.
                        button(type="button" class="btn btn-orange ") Contact Us
    section
        .container
            .row
                .col-xs-12.wrap-heading-clients.pl-0
                    h2.heading Clients
                    .info-heading Whats our client says
        div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
            div(class="carousel-inner" role="listbox")
                .carousel-item.active
                    .container
                        .row
                            .col-xs-12.pl-0
                                .wrap-clients-home
                                    ul.pl-0.wrap-list-clients.flex-items-xs-between
                                        li.clients.clients-first
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-first.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Krishnan Unni
                                                    .sub-name-clients Designation
                                        li.clients.clients-second
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-second.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Mariya Jeorge
                                                    .sub-name-clients Designation
                                        li.clients.clients-third
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-third.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Akhil Designer
                                                    .sub-name-clients Designation
                .carousel-item
                    .container
                        .row
                            .col-xs-12.pl-0
                                .wrap-clients-home
                                    ul.pl-0.wrap-list-clients.flex-items-xs-between
                                        li.clients.clients-first
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-third.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Akhil Designer
                                                    .sub-name-clients Designation
                                        li.clients.clients-second
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-first.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Krishnan Unni
                                                    .sub-name-clients Designation
                                        li.clients.clients-third
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-second.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Mariya Jeorge
                                                    .sub-name-clients Designation
                .carousel-item
                    .container
                        .row
                            .col-xs-12.pl-0
                                .wrap-clients-home
                                    ul.pl-0.wrap-list-clients.flex-items-xs-between
                                        li.clients.clients-first
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-first.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Krishnan Unni
                                                    .sub-name-clients Designation
                                        li.clients.clients-second
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-second.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Mariya Jeorge
                                                    .sub-name-clients Designation
                                        li.clients.clients-third
                                            .clients-info Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                            .row
                                                .col-xs-3
                                                    div
                                                        img(src="../../../img/services/content/clients/client-third.png" alt="clients")
                                                .col-xs-9.padding-name-clients
                                                    .name-clients Akhil Designer
                                                    .sub-name-clients Designation
            .container
                .row
                    .col-xs-12.clients-carousel
                        ol.carousel-indicators
                            li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
                            li(data-target="#carousel-example-generic" data-slide-to="1")
                            li(data-target="#carousel-example-generic" data-slide-to="2")
    mixin footer('services')
    include ../includes/js-includes

